@model Otomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kategori Güncelle</h2>

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.KategoriAd)
        <br/>
        @Html.TextBoxFor(x => x.KategoriAd )
        {

        }


    </div>
}
    <button class="btn btn-warning" style="margin-top:5px;">Güncelle</button>


